.para {
  text-align: center !important;
  font-size: 5rem;
  color: white;
}
.btn {
  width: 15%;
  height: 9%;
  margin-left: 42% !important;
  text-align: center !important;
  margin-top: -1rem !important;
  cursor: pointer !important;
  border-radius: 3rem !important;
  background-color: white !important;
  border-color: mediumpurple !important;
  border-bottom: mediumpurple !important;
  border-right: mediumpurple !important;
  font-size: 2rem !important;
  color: mediumpurple !important;
}
